*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.bg-image{
    background-size: cover;
}

.form-login{
    width: 300px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    border-radius: 50px;
    color: white;
}

.img-fluid{
    width: 140px;
    border-radius: 50%;
    border: 2px solid white;
}